* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*--------------*/
/*----Reusable----*/
/*--------------*/
.row {
  width: 90%;
  margin: 0 auto;
}
.row:after {
  content: " ";
  display: table;
  clear: both;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/*--------------*/
/*----Header----*/
/*--------------*/
header {
  text-align: center;
  background-color: #011b66;
  color: yellow;
  padding: 10px;
}
header h2 {
  margin-top: 20px;
}
header h3 {
  font-size: 20px;
}
header .logo {
  width: 100px;
  height: auto;
  margin-top: 50px;
  float: left;
}
header .journal {
  width: 250px;
  height: auto;
  float: right;
}

/*-------------------*/
/*----Nav Section----*/
/*-------------------*/

.nav-section {
  background-color: whitesmoke;
}
.nav-section .nav {
  list-style-type: none;
  padding: 15px 0px;
}
.nav-section .nav li {
  display: inline-block;
}
.nav-section .nav li a {
  text-decoration: none;
  margin-right: 20px;
  color: gray;
}
.nav-section .nav li a:hover {
  color: #000;
}

/*-------------------------------------*/
/*----Main Section-----------------*/
/*------------------------------------*/

.main-section {
  padding-top: 30px;
}

/*-----Contact us----------------*/
.contact-us {
  float: left;
  width: 50%;
}

.contact-us h1 {
  border-bottom-style: dotted;
  padding-bottom: 10px;
  margin-bottom: 35px;
}

.contact-us .contact {
  line-height: 250%;
}

.contact span {
  color: rgb(10, 49, 163);
}

.contact span:hover {
  cursor: pointer;
}

.contact img {
  width: 100%;
  margin-top: 20px;
}

/*----Get in touch-----------------*/
.get-in-touch {
  float: left;
  width: 50%;
  padding-left: 100px;
  padding-top: 50px;
}
.get-in-touch h2 {
  margin-bottom: 20px;
}
input[type="text"],
input[type="email"] {
  width: 350px;
  padding: 5px 2px;
}
input[type="submit"] {
  padding: 6px;
}
input[type="text"],
input[type="email"],
textarea {
  margin-bottom: 20px;
}
/*-------------------------------------*/
/*----Footer-----------------*/
/*------------------------------------*/

footer {
  text-align: center;
  padding: 20px 0px;
  color: gold;
  background-color: navy;
  margin-top: 60px;
}
