* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*--------------*/
/*----Reusable----*/
/*--------------*/
.row {
  width: 90%;
  margin: 0 auto;
}
.row:after {
  content: " ";
  display: table;
  clear: both;
}
.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

/*--------------*/
/*----Header----*/
/*--------------*/
header {
  text-align: center;
  background-color: #011b66;
  color: yellow;
  padding: 10px;
}
header h2 {
  margin-top: 20px;
}
header h3 {
  font-size: 20px;
}
header .logo {
  width: 100px;
  height: auto;
  margin-top: 50px;
  float: left;
}
header .journal {
  width: 250px;
  height: auto;
  float: right;
}

/*-------------------*/
/*----Nav Section----*/
/*-------------------*/

.nav-section .nav {
  list-style-type: none;
  padding: 15px 0px;
}
.nav-section .nav li {
  display: inline-block;
}
.nav-section .nav li a {
  text-decoration: none;
  margin-right: 20px;
  color: gray;
}
.nav-section .nav li a:hover {
  color: #000;
}

/*-------------------*/
/*----Body Img----*/
/*-------------------*/

.body-img {
  background: url("school.jpg");
  height: 90vh;
  background-size: cover;
  background-position: center;
}

/*-------------------------------------*/
/*----Information Content-------------*/
/*------------------------------------*/

/*-----------subject------------*/
.information-content .row:first-of-type {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 50px;
}
.information-content .row:first-of-type h3 {
  margin-bottom: 20px;
}
.information-content .subject {
  float: left;
  width: 40%;
}

.information-content .sub-content h4:first-of-type {
  color: darkred;
  margin-bottom: 20px;
}
.information-content .sub-content h4 {
  color: rgb(23, 53, 151);
}
.information-content .sub-content hr,
.teacher-content hr {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.1);
}
.information-content .sub-content {
  border-radius: 5px;
  background-color: #00a7ff;
  width: 100%;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
.information-content .sub-content ul {
  margin-left: 30px;
  font-size: 15px;
  line-height: 150%;
  padding-bottom: 20px;
}

/*------------teacher-------------*/
.information-content .teacher {
  float: left;
  width: 60%;
  padding-left: 30px;
}
.information-content .teacher-content h4:first-of-type {
  margin-bottom: 20px;
}

.information-content .teacher-content {
  /* margin-left: 20px; */
  border-radius: 5px;
  width: 100%;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
.information-content .teacher-content .left {
  float: left;
  width: 40%;
}
.information-content .teacher-content .left ul,
.right ul {
  list-style-type: none;
  font-size: 15px;
  line-height: 200%;
}
.information-content .teacher-content .right {
  float: left;
  width: 60%;
}

/* -----contact person------- */
.contact-person {
  width: 400px;
  position: absolute;
  right: 0;
  bottom: 20px;
  padding: 20px;
  background-color: #00a7ff;
  border-radius: 7px;
}

/* ------info---------- */
.info {
  padding-top: 30px;
  font-family: sans-serif;
}
.info h2 {
  color: darkred;
  margin-bottom: 5px;
}
.info p {
  margin-bottom: 20px;
}

/*-------------------------------------*/
/*----download section-----------------*/
/*------------------------------------*/
.download {
  margin: 30px 0px 40px 0px;
}
/* ----caption---- */
.caption {
  float: left;
  width: 40%;
  text-align: center;
  background-color: turquoise;
  padding: 40px 0px;
}
/* ------data------------ */
.data {
  float: left;
  width: 60%;
  padding-left: 30px;
}
.data span {
  color: mediumblue;
}

/*-------------------------------------*/
/*----Footer-----------------*/
/*------------------------------------*/

footer {
  text-align: center;
  padding: 20px 0px;
  color: gold;
  background-color: navy;
}
